@mixin flex-row($justifyContent: flex-start, $alignItems: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flex-column($justifyContent: flex-start, $alignItems: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
