// break point
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;
$desktop-max-width: 1440px;
$moblie-max-width: 400px;

$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-sub1: 16px;
$font-size-sub2: 14px;
$font-size-sub3: 13px;
$font-size-sub4: 12px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-button: 14px;
$font-size-caption1: 14px;
$font-size-caption2: 12px;

$main-color: #00ed5d;
$main-light-color: #9bffc3;
$main-dark-color: #37925b;
$sub-color: #4eec8d;
$sub-dark-color: #32bb68;

$negative-normal-color: rgb(255, 29, 29);
$negative-light-color: rgb(255, 168, 168);
$negative-dark-color: rgb(170, 44, 44);

//grayscale
$grayscale-black: #0a0a0a;
$grayscale-black90: #424242;
$grayscale-black80: #616161;
$grayscale-black70: #757575;
$grayscale-black60: #9b9ca0;
$grayscale-black50: #c2c2c2;
$grayscale-black40: #dfdfe2;
$grayscale-black30: #eaebee;
$grayscale-black20: #f3f3f6;
$grayscale-white: #ffffff;
