$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-sub1: 16px;
$font-size-sub2: 14px;
$font-size-sub3: 13px;
$font-size-sub4: 12px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-button: 14px;
$font-size-caption1: 14px;
$font-size-caption2: 12px;

$main-color: #00ed5d;
$sub-color: #4eec8d;
$sub-dark-color: #32bb68;
