@import './variables';
@import './font';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Pretendard-Regular, sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}

a {
  color: inherit;
  text-decoration: none;
}
