@import '../../layout';
@import '../../variables';

.container {
  width: 100%;
  height: calc(100vh - 95px);
  padding: 10px 30px;
  @include flex-column(flex-start, center);
  gap: 30px;
}

.title {
  font-size: 20px;
}

.write {
  width: 100%;
  @include flex-row(flex-end, center);
  cursor: pointer;

  span {
    font-size: 12px;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.review-wrapper {
  width: 100%;
  @include flex-column(flex-start, center);
}

.empty,
.loading-container {
  width: 300px;
  height: 500px;
  @include flex-column(center, center);
  border-top: 1px solid $grayscale-black40;
}
