/** @format */

@import '../../layout';
@import '../../variables';
@import '../../viewsize';

.container {
  width: 100%;
  min-height: calc($dvh * 100 - 95px);
  padding: 10px 30px;
  @include flex-column(flex-start, center);
  gap: 30px;

  /*   @include mobile {
    width: 100vw;
  } */
}

.head {
  font-size: 20px;
}

.form-section {
  width: 400px;
  @include flex-column(flex-start, center);
  gap: 5px;

  .input {
    width: 100%;
    height: 87px;
    position: relative;
    @include flex-column(flex-start, flex-start);
    gap: 8px;

    &.content {
      height: 350px;
    }

    label {
      font-size: 12px;
    }

    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      border: 1px solid $grayscale-black50;
      border-radius: 7px;

      &::placeholder {
        color: $grayscale-black60;
      }

      &:focus {
        outline: none;
      }
    }

    textarea {
      width: 100%;
      height: 300px;
      padding: 10px;
      border: 1px solid $grayscale-black50;
      border-radius: 7px;

      &::placeholder {
        color: $grayscale-black60;
      }

      &:focus {
        outline: none;
      }
    }

    .error {
      width: 100%;
      position: absolute;
      color: $negative-normal-color;
      font-size: 12px;
      text-align: end;
      bottom: 0;
      right: 0;
    }
  }

  .write-btn {
    width: 192px;
    height: 44px;
    background-color: white;
    border-radius: 8px;
    color: $grayscale-black80;
    cursor: pointer;

    &:hover {
      background-color: $grayscale-black20;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.empty {
  width: 100%;
  height: calc($dvh * 100 - 200px);
  @include flex-column(center, center);
  gap: 30px;

  .desc {
    @include flex-column(center, center);
    gap: 10px;
    color: $grayscale-black80;
    p {
      font-size: 20px;
      font-weight: 600;
    }
    span {
      font-size: 13px;
    }
  }

  button {
    width: 192px;
    height: 44px;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $grayscale-black20;
    }
  }
}

.success-container {
  width: 100%;
  height: calc($dvh * 100 - 200px);
  @include flex-column(center, center);
  gap: 30px;

  h4 {
    font-size: 20px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  button {
    width: 192px;
    height: 44px;
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $grayscale-black20;
    }
  }
}
