/** @format */

@import "../layout";
@import "../viewsize";
.header-container {
  @include flex-row(space-between, center);
  padding: 20px;

  @include under-tablet {
    padding: 15px;
  }
}

.header-left {
  @include flex-row(flex-start, center);
  gap: 60px;
  .logo-img {
    width: 75px;
    height: auto;
    cursor: pointer;

    @include under-tablet {
      width: 60px;
    }
  }

  .menus {
    @include flex-row(flex-start, center);
    gap: 35px;
    font-size: 20px;
    font-weight: 600;

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.selected {
        color: #00ed5d;
      }
    }

    @include under-tablet {
      font-size: 17px;
      gap: 20px;
    }
  }

  @include under-tablet {
    gap: 30px;
  }
}

.header-right {
  position: relative;
  .login {
    font-size: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #000;
  }

  .user-name {
    cursor: pointer;
  }
}
