@import '../layout';

.header-container {
  @include flex-row(space-between, center);
  padding: 20px;
}

.header-left {
  @include flex-row(flex-start, center);
  gap: 60px;
  .logo-img {
    width: 75px;
    height: auto;
    cursor: pointer;
  }

  .menus {
    @include flex-row(flex-start, center);
    gap: 35px;
    font-size: 20px;
    font-weight: 600;

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.selected {
        color: #00ed5d;
      }
    }
  }
}

.header-right {
  .login {
    font-size: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
