@import '../../layout';
@import '../../variables';

.container {
  @include flex-column(flex-start, center);
  gap: 30px;
  font-size: $font-size-caption1;
  width: 100%;
  height: calc(100vh - 95px);
  padding: 150px 0;

  h1 {
    font-size: 30px;
  }
}

.form-section {
  @include flex-column(flex-start, center);
  width: 300px;
  gap: 25px;
}

.form-container {
  @include flex-column(flex-start, flex-start);
  gap: 20px;
  width: 100%;
  .form-item {
    width: 100%;
    @include flex-row(space-between, center);
    position: relative;

    label {
      font-size: 15px;
    }

    input {
      width: 200px;
      border: none;
      border-bottom: 1px solid $main-color;
      padding: 7px 2px;

      &:focus {
        outline: none;
      }
    }

    .error {
      position: absolute;
      bottom: -17px;
      font-size: 10px;
      right: 40px;
      color: rgb(255, 42, 42);
    }
  }
}

.btn-container {
  width: 100%;
  @include flex-row(center, center);
  gap: 20px;

  button {
    border: none;
    background-color: $sub-color;
    font-size: 15px;
    padding: 12px 100px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 600;

    &:hover {
      background-color: $sub-dark-color;
    }
  }
}

.join-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid black;
}
